body{
    background: #E7ECEF; 
    color: #000;
}

.loginPage{
    height: 350px;
    background: #E7ECEF;
}


.inputArea{
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    /* margin-left: 25px; */
}

.btnCode{

    background: #6F9CB7; 
    color: #ffffff
}