

{% extends 'base.html'%}
{% load static %}
    
    
{% block content %}
<section>
    <form action="">
        <div class="form-group">
            <label>Enter Email / Mobile number</label>
            <input type="text" class="form-control" placeholder="Enter Email / Mobile number">
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-outline-primary btn-block btn-lg">Reset Password</button>
        </div>
    </form>
    <div class="text-center mt-5">
        <p class="light-gray">Don’t have an account? <a href="{% url 'register' %}">Sign Up</a></p>
    </div>
</section>
{% endblock content %}
    
{% block script %}
{% endblock script %}